Source: hns-cli
Build-Depends: debhelper (>= 10)
Maintainer: Derrick Hammer <derrick@derrickhammer.com>
Description: CLI Tools for the Handshake blockchain
Section: misc

Package: hns-cli
Architecture: any
Description: CLI Tools for the Handshake blockchain
